<div class="container mr-auto ml-auto ">
    <!--  Выводим найденные посты перебором  -->
    <div class="card mr-auto ml-auto mb-3 w-75 ">
      <!--  Заголовок -->
      <div class="card-header">
        Добавляем новую запись
      </div>
      <!--  Тело  -->
      <div class="card-body row">
      <!--  Заголовок -->
        ЗДЕСЬ заголовок
        <!--  Вставляем картинку, если есть -->
        ЗДЕСЬ картинка
          <!--  Текст -->
        ЗДЕСЬ текст

          <!--  Подвал  -->
            <!--  Тэги -->
        ТЕГИ

      </div>
    </div>
  </div>
