<!--  В начале див общей обертки  -->
<div>
  <!--  Если новости есть  -->
  <div *ngIf="news.length != 0; else noNews">
    <!--  Выводим количество найденных новостей  -->
    Обнаружено {{news.length}} новостей.
  <!--  Выводим найденные новости перебором  -->
    <div *ngFor="let article of news; let indexOfArticle of index">
      <!--  Заголовок -->
      <div>
        {{article.title}}
      </div>
      <!--  Вставляем картинку, если есть -->
      <div *ngIf="article != undefined">
        {{article.picture}}
      </div>
      <!--  Текст -->
      <div>
        {{article.text}}
      </div>
      <!--  Автор -->
      <div>
        {{article.author}}
      </div>
      <!--  Дата  -->
      <div>
        {{article.date}}
      </div>
      <!--Вставляем разделитель если не последняя-->
      <div *ngIf="news.length > indexOfArticle + 1">
        Разделитель
      </div>
    </div>
  </div>
  <!--  Если нет новостей  -->
  <ng-template #noNews>
    Новостей нет.
  </ng-template>
</div>
